<div #aboutSection class="about-section-container">
  <img class="about-bg-form" src="/assets/img/bg/darkblue-shadow-right.png">
  <div data-aos="fade-up" data-aos-duration="1000" class="aboutcontainer">
    <h2>{{ 'about.title' | translate }}</h2>
    <div>
      <p>{{ 'about.text' | translate }}</p>
      <div class="mobileimagecontainer hidedesktop">
        <img class="mobileimage hidedesktop" src="/assets/img/den.png" alt="Denis Weinhardt" />
      </div>
      <p>{{ 'about.career' | translate }}</p>
      <p>{{ 'about.career2' | translate }}</p>
    </div>

    <div class="about-item">
      <div>
        <img class="about-icon" src="/assets/img/icons/bulb-blue.png" />
      </div>
      <span>{{ 'about.search' | translate }}</span>
    </div>
    <div class="about-item">
      <div>
        <img class="about-icon" src="/assets/img/icons/puzzle-blue.png" />
      </div>
      <span>{{ 'about.search2' | translate }}</span>
    </div>
  </div>
  <div class="imagecontainer hidemobile">
    <div class="line hidemobile"></div>
    <img class="aboutimage hidemobile" src="/assets/img/den.png" alt="Denis Weinhardt" />
  </div>
</div>