<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="privacy-policy.component.scss">
</head>

<body class="privacy-policy">
    <header>
        <h2>Privacy Policy</h2>
        <div>
            <div class="btn" (click)="navigateToHome()">Close</div>
        </div>
    </header>
    <section>
        <h1>1. Introduction</h1>
        <p>We take the protection of your personal data very seriously. This privacy policy informs you about how we
            handle your personal data on our portfolio website. We treat your data confidentially and in accordance with
            legal data protection regulations.</p>

        <h1>2. Responsible Party</h1>
        <p>The responsible party for data processing on this website is:</p>
        <p>Name: Denis Weinhardt</p>
        <p>Address: Meisenweg 5a 85591 Vaterstetten</p>

        <h1>3. Collection and Processing of Data</h1>
        <p>On this website, we only collect the data necessary to provide and optimize the website. We do not collect
            sensitive data such as health or financial data.</p>
        <p>The following data may be collected when visiting this website:</p>
        <ul>
            <li>IP address</li>
            <li>Browser type and version</li>
            <li>Pages visited on the website</li>
            <li>Time of access</li>
        </ul>

        <h1>4. Cookies</h1>
        <p>Our website uses cookies to provide you with a better user experience. Cookies are small text files stored on
            your device. You can disable the use of cookies in your browser settings, but please note that this may
            affect the functionality of the website.</p>

        <h1>5. Data Sharing with Third Parties</h1>
        <p>We only share your data with third parties if this is required by law or necessary for contract fulfillment.
            Your data will not be shared with third parties for advertising purposes.</p>

        <h1>6. Your Rights</h1>
        <p>You have the right to request information about the data stored about you at any time, to correct it, or to
            delete it. If you wish to revoke your consent to data processing, you can do so at any time. Please contact
            the address mentioned above.</p>

        <h1>7. Security</h1>
        <p>We take all necessary technical and organizational measures to protect your personal data from loss, misuse,
            or unauthorized access. However, the security of data transmission over the Internet can never be fully
            guaranteed.</p>

        <h1>8. Changes to this Privacy Policy</h1>
        <p>We reserve the right to amend this privacy policy at any time. The most recent version of the privacy policy
            published on this website always applies.</p>
    </section>
</body>

</html>